@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* footer {
    background-color: #DFDFDF;
    height: 34.5vw;
    font-size: 1.2vw;
} */

.made-by {
    background-color: #363838;
    /* margin-top: 5%; */
    height: 7vw;
    /* display: block; */
}

.name-txt {
    position: absolute;
    color: #A1A1A1;
    font-size: 1.2vw;
    font-weight: 300;
    margin-top: 2.9%;
    margin-left: 38.5%;
}