@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body,
header,
main,
footer {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* .collage {
    display: grid;
    grid-template-columns: 50% 30% 30%;
    grid-auto-rows: 50%;
}

.collage-img-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
} */

.collage {
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
    margin-bottom: 2.5%;
}

.collage-img-1 {
    width: 93%;
    /* padding-right: 1.5%; */
}

.box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5%;
    grid-row-gap: 4.6%;
    margin-right: 0.5%;
}

.collage-img-2,
.collage-img-3,
.collage-img-4,
.collage-img-5 {
    width: 92%;
}

