@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body,
header,
main,
footer {
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    /* font-weight: 1000; */
    font-size: 16px;
    color: rgba(54, 56, 56, 0.9033);
}

header {
    display: flex;
    justify-content: space-between;
    /* line-height: 22px; */

}

header .container {
    display: flex;
    justify-content: space-between;
}

.logo {
    position: absolute;
    padding-left: 50px;
    padding-right: 50px;
    width: 97px;
    height: 31px;
    margin-top: 44px;
    margin-left: 620px;
}

.button-about,
.button-gallery,
.button-blog,
.button-contact {
    text-decoration: none;
    color: rgba(54, 56, 56, 0.9033);
    position: relative;
    margin-top: 49px;
}

.button-about {
    margin-left: 200px;
    padding-left: 100px;
    padding-right: 50px;
}

.button-gallery {
    padding-left: 50px;
    padding-right: 50px;
}

.button-blog {
    margin-left: 350px;
    padding-left: 50px;
    padding-right: 50px;
}

.button-contact {
    padding-left: 50px;
    padding-right: 100px;
}

footer {
    height: 78px;
}

.menu {
    height: 3.5%;
    position: absolute;
    padding-left: 50px;
    margin-top: 45px;
    margin-left: 1270px;
}


.back-picture {
    width: 100%;
    margin-top: 49px;
    display: block;
    overflow: hidden;
}

.chair {
    width: 35%;
    position: relative;
    margin-left: 100px;
    margin-top: -522px;
}

h1 {
    font-size: 77px;
    position: relative;
    margin-left: 600px;
    margin-top: -500px;
} 

h2 {
    font-size: 16px;
    position: relative;
    margin-left: 600px;
    margin-top: 100px;
} 

h3,
h4 {
    position: relative;
    text-align: center;
    top: 220px;
}

h3 {
    font-size: 46px;
}

h4 {
    font-size: 16px;
}

h4:before{ 
    content: " ";
    background: rgba(54, 56, 56, 0.9033);
    width: 270px;
    height: 1px;
    top: -27px;
    left: 40%;
    position: absolute;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5 {
    margin-top: 300px;
    margin-bottom: 27px;
    height: 250px;
    display: block;
}

.img-1 {
    margin-left: 15px;
}

.img-5 {
    margin-right: 15px;
}

footer {
    background-color: #DFDFDF;
    height: 470px;
}
.contact-info {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #363838;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    color: #363838;
    margin-top: 0px;
}

h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5A;
    margin-top: 25px;
    margin-bottom: 25px;
}

.mail-logo {
    margin-right: 10px;
}

.feedback {
    margin-top: 25px;
}

input {
    margin: 10px auto;
    border: 1px solid #383636;
    border-radius: 21px;
    padding: 10px 20px;
    width: 362px;
    background-color: transparent;
    font-size: 14px;
}

.send-button {
    background: #363838;
    border: none;
    color: #fff;
    width: 160px;
    transition: 0s;
    border-radius: 21px;
    font-size: 14px;
    margin-left: 10px;
}

.send-button:hover {
    background-color: #4d4d4d;
}

.social-media {
    font-size: 14px;
    color: #707070;
}

.media-logo {
    margin-right: 15px;
    margin-bottom: -2px;
}

.media-name {
    margin-bottom: 30px;
}

.info {
    font-size: 14px;
    color: #707070;
    margin-bottom: 30px;
}

.made-by {
    background-color: #363838;
    top: 342px;
    height: 110px;
    display: block;
}

.name-txt {
    position: absolute;
    color: #A1A1A1;
    font-size: 16px;
    margin-top: 48px;
    margin-left: 38.5%;
}