@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body,
header,
main,
footer {
    margin: 0;
    padding: 0;
    /* background-color: white; */
}
/* 
footer {
    background-color: #DFDFDF;
    height: 27.5vw;
    font-size: 1.2vw;
    font-weight: 300;
} */

.main-info {
    background-color: #DFDFDF;
    height: 27.5vw;
    font-size: 1.2vw;
    font-weight: 300;
}

.contact-info {
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
    color: #363838;
    margin-left: 7%;
    margin-right: 7%;
}

.contact {
    margin-right: 7%;
}

h5 {
    font-size: 1.5vw;
    color: #363838;
    margin-top: 0;
    font-weight: 600;
}

h6 {
    font-style: normal;
    font-size: 1.2vw;
    font-weight: 300;
    color: #5A5A5A;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
}

.mail-logo {
    margin-right: 1.5%;
    width: 2.1%;
}

.feedback {
    margin-top: 5%;
}

input {
    border: 1px solid #383636;
    border-radius: 21px;
    width: 22vw;
    height: 2.8vw;
    padding-left: 2%;
    background-color: transparent;
    font-size: 1.2vw;
    margin-right: 2%;
}

.send-button {
    background: #363838;
    border: none;
    color: #fff;
    width: 10vw;
    height: 3vw;
    transition: 0s;
    border-radius: 21px;
    font-size: 1.2vw;
    font-weight: 600;
    padding-right: 2%;
}

.send-button:hover {
    background-color: #4d4d4d;
}

.social-media {
    margin-top: 0.2%;
    color: #707070;
    margin-right: 15%;
}

.media-content {
    display: flex;
    justify-content: space-between;
}

.media-logo {
    width: 20%;
    /* margin-right: 5%; */
    margin-bottom: 23%;
}

.media-name {
    margin-left: 17%;
    margin-bottom: 23%;
}

.info-content {
    /* margin-left: 7%; */
    margin-top: 0.2%;
}

.info {
    color: #707070;
    margin-bottom: 18.5%;
    width: 120%;
}